body {
    font-family: 'Anaheim', sans-serif;

}


#mainContainer {
    width: 1000px;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    justify-content: center;
}

.svgHolder {
    display: flex;
    width: 50%;
    height: auto;
    border: 3px solid black;

    
}

.slidersContainer {
    width: 45%;
    padding-left: 20px;
    margin: 0 auto;
    border: 3px solid black;
    border-left: none;
}

.sliderLabel {
    font-size: 13pt;
    font-family: 'Anaheim', sans-serif;
    align-items: center;

}

.sectionTitle {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 16pt;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 30px;
    border-radius: 10px;   
    background: #d3d3d3;
    outline: none;

    -webkit-transition: .10s;
    transition: opacity .2s;
    margin: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 35px;
    border-radius: 30%; 
    border: 3px solid black;
    background: purple;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.tabsContainer{
    font-size: 14pt;
    width: 100px;
}

.tab {
    display: flex;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    margin-top: 20px;
    width: 80px;
    height: 35px;
    transform: translateY(-20px) translateX(-3px);
    background-color: rgb(225, 223, 223);
    border-radius: 0 20px 20px 0;
}

#headTab {
    border-left: none;
    background-color: rgb(255, 253, 253);
}

#customizeHead {
    display: block;
}

#customizeEyes {
    display: none;
}

#customizeNose {
    display: none;
}

#customizeMouth {
    display: none;
}

#customizeEyebrows {
    display: none;
}